/********************** Afeta todas as Páginas feitas pelo Emerson *****************************************/

/* 1 Coluna para exibir o Main */
.Grade_Main_1 {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  
}

/* 2 Colunas para exibir o Main */
.Grade_Main_2 {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

/* 3 Colunas para exibir o Main */
.Grade_Main_3 {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50% 50%;
  grid-template-rows: 100%;
}

.margem_top{
  margin-top: 10%;
}

/******************** Abaixo são códigos que afetam paginas individualmente criadas pelo Emerson****************/

/***************************************** Trabalhos realizados *****************************************/
.Trabalhos_Caixa_1 {
  padding: 0em;
  color:black;
  text-shadow: 0,5px 1px 0,5px rgb(252, 252, 252);
  margin-left: 6%;
}

.h1_Trabalhos{
font-size: 200%;
}

.p_Trabalhos{
  margin-bottom: 2%;
  margin-top: 0%;
  font-size: 150%;
  }

  #botao_trabalhos_anterior{
    margin-right: 300px;
  }

  #botao_trabalhos_proximo{
    margin-left: 332px;
    margin-bottom: 2%;
  }

#img_Trabalhos{
  margin-top: 1%;
}


/*************************************** Reuniões realizadas *****************************************/
.Reunioes_Caixa_1 {
  padding: 0em;
  color:black;
  text-shadow: 0,5px 1px 0,5px rgb(252, 252, 252);
  margin-left: 6%;

}

.h1_Reunioes{
font-size: 200%;
}

#botao_reuniao_anterior{
  margin-right: 300px;
}

#botao_reuniao_proximo{
  margin-left: 332px;
  margin-bottom: 2%;
}


/*************************************** Membros *****************************************/
.membros_Caixa_1 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 6%;
}

.membros_Caixa_2 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5%;
  margin-left: 6%;
  margin-bottom: 2%;
}

.h1_membros{
  font-size: 200%;
  margin-left: 6%;
  }

  .p_membros{
    font-size: 120%;
  }

 .img_membro{
    height: 250px;
    width: 250px;
  
    border: 10px solid transparent;
    padding: 2px;
    border-image: url('..//Imagens/border.png') 40 stretch; 
  
  }

/*************************************** Voluntários *****************************************/
.voluntarios_Caixa_1 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 6%;
}

.h1_voluntarios{
  font-size: 200%;
  margin-left: 6%;
  }

  .H2_voluntarios{
    margin-left: 6%;
  }

  table, th, td {
    border: 1px solid black;

    margin-bottom: 5%;
  }


/*************************************** Outros Eventos *****************************************/
.Outros_eventos_Caixa {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 6%;
}

#Form_eventos_imagens{
  text-align: center;
}

#label_eventos{
  font-weight: bold;
}

.label_lista_eventos{
  font-weight: bold;
  font-size: 120%;
}

#botao_eventos_anterior{
  margin-right: 315px;
}

#botao_eventos_proximo{
  margin-left: 315px;
  margin-bottom: 1%;
}

.h1_Outros_eventos{
  margin-left: 6%;
}

.p_outros_eventos{
  margin-left: 6%;
}

.p_outros_eventos2{
  margin-left: 6%;
}


/* Estiliza lista slecionável de eventos */
#Lista_eventos{
  margin-top: 7%;

  -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
  -moz-appearance: none; /* Remove estilo padrão do FireFox */
  appearance: none; /* Remove estilo padrão do FireFox*/

  background: url('..//Imagens/seta.gif') no-repeat #eeeeee;  /* Imagem de fundo (Seta) */
  background-position: 218px center;  /*Posição da imagem do background*/
  width: 250px; /* Tamanho do select, maior que o tamanho da div/form "div-select" */
  height:30px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */

  border:1px solid #ddd;
  font-size: 120%;
}