/*  */
.Footer {
  display: grid;
  grid-template-columns: 37% 63%;
  padding-top: 1em; 
  padding-left: 80px;
  

  

}
/* margem para 2 coluna do footer */
#margem_footer {
  color:black;
  padding-top: 5%;
  padding-left: 5%;
 
}

/* Exibe imagem de fundo do footer */

footer {
background-image: url("../Imagens/Footer.jpg");  
background-repeat: repeat;
background-position: right;

}