/*  */
.Footer {
    display: grid;
    grid-template-columns: 37% 63%;
    background-color: rgb(0, 0, 0);
    padding-top: 1em; 
    padding-left: 50px;

    

  }
  /* margem para 2 coluna do footer */
  #margem_footer {
    color: white;
    padding-top: 100px; 
    padding-left: 5%;
    
    

    
  }

  /* Exibe o mapa com o endereço da associação cultural cariri */
#Parte_1 {
    display: inline-block;
  }

/* Imagem de uma mapa, está sendo usado para para medir o espaço, futuramente será substituido pelo mapa de fato */
.img_parte1 {
    width:70%; 
    height:40%;
    padding: 2%;
    
  }

/* Exibe o endereço completo juntamente com a URL da página do facebook */
#Parte_2 {
    color: white;
    display: inline-block;
    padding: 3em;
    
  }