/* margem para 2 coluna do footer */
footer>#mapa {
   
  flex: 1 0 !important ;
  text-align: right;
  padding: 2%;
  padding-left: 8%;
  margin-bottom:  3%;
}

footer>#local {

  flex: 5 0% !important;
  padding-top: 6%;
}
footer {
  background-image: url("../Imagens/Footer.jpg");  
  background-repeat: repeat;

}

.mapa_footer {
  padding-top: 5%;
  margin-bottom:  3%;
}


/* depois apagar daqui para baixo esta em GRID-LAYOUT nao tem mais utilidade com o footer novo */
.Footer {
  display: grid;
  grid-template-columns: 37% 63%;
  padding-top: 1em; 
  padding-left: 80px;
  

  

}
/* margem para 2 coluna do footer */
#margem_footer {
  color:black;
  padding-top: 5%;
  padding-left: 5%;
 
}

/* Exibe imagem de fundo do footer */

footer {
background-image: url("../Imagens/Footer.jpg");  
background-repeat: repeat;
background-position: right;

}