/* Menu de navegação - Configurações gerais */
.navbar {
  overflow: hidden;
  height:80px ;
  
}

/* Menu de navegação - Logo/Marca */
.navbar-brand {
  padding: 0px !important;
  margin-top: 0px !important;
}

/* Menu de navegação - Ordena menu */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 17px;
}


/* Menu de navegação - Abrir opções */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Menu de navegação - Após aberto as opções, botão de cada opção */
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin-top: 17px;
}


/* Menu de navegação - Ao navegar pelas opções é realçado qual opção o mouse está passando */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: cornflowerblue;
}


/* Menu de navegação - Após aberto as opções, Faz aparecer as opções para descer */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 2px 2px 4px 4px cornflowerblue;
  z-index: 1;
}


/* Menu de navegação - Após aberto as opções e descer o menu, é exibido o texto das opções */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
  

/* Menu de navegação - Após aberto as opções e descer o menu, Faz de fato descer as opções */
.dropdown:hover .dropdown-content {
  display: block;
  color: black;
}

/*Cria uma grade para mudar a cor apenas do header e exibir as opções  */
.Grade {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 80px;
  background-image: url(../Imagens/Header.jpg);

  

}
