/* container do H1 no Header */
.grid-container0 {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 70px;
  color: black;
  text-align: center;
}


/* container das colunas do main */
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    padding-top: 0;
    padding-bottom: 5%;
}


/* container das colunas do container2 */
.grid-container2 {
  display: grid;
  grid-template-columns: 100%; 
  width: 100%;
}


/* container das colunas do container3 */
.grid-container3 {
 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  padding-bottom: 10%;
  padding-left: 6%;
  padding-right: 6%;
  gap: 12px;
}


/* Classe configuracao de estilo e padding*/
.cx {
  
  color:black;
  text-align: justify;
  text-shadow: 0,5px 1px 0,5px rgb(252, 252, 252);
}


/* Classe configuracao de estilo e padding*/
.cx2 {
  padding: 20%;
  text-align: left;
  text-shadow: 1px 1px 1px black;
  margin-top: 150px;
}


/* Classe Background da div para saber o espaco e local que ela esta ocupando */
.cx-1 {
  padding: 5em;
}


/* Classe Background da div para saber o espaco e local que ela esta ocupando */
.cx-2 {
  padding-top: 150px;
  padding-left: 10%;
}

/* Classe Background e coluna da div para saber o espaco e local que ela esta ocupando */
.cx-3 {
  grid-column: 1/4;
  padding-top: 5%;
}

/* Borda das fotos */
.borda {
  border-top: 5px;
  border-left: 5px;
  border-right: 5px;
  border-bottom: 5px;
  border-color:rgb(132, 160, 143);
  border-style: outset;
  height:260px;
  width:360px;
}

.borda2 {
  border-top: 5px;
  border-left: 5px;
  border-right: 5px;
  border-bottom: 5px;
  border-color:rgb(132, 160, 143);
  border-style: outset;
  height: 51%;
  width: 90%;
}


h1 {
  padding-top: 3%;
  font-size: 35px;
  text-align: left;
} 

/* Posição dos botões do slide show do index */
#botao_anterior_index{
margin-right: 5%;
}

#botao_proximo_index{
margin-left: 75%;
}