/* Faz desaparecer imagem */
.Efeito_troca_imagem_desaparece{
	animation-name: desaparece;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	animation-direction: alternate;
}

/* Faz desaparecer imagem */
.Efeito_troca_imagem_aparece{
	animation-name: aparece;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	animation-direction: alternate;
}

/* Faz desaparecer imagem aos poucos*/
@keyframes desaparece {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
  }
}

/* Faz aparecer imagem aos poucos*/
@keyframes aparece {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 1;
  }
}

/*Apagar imagem usando opacidade*/
.opacidade {
  opacity: 0;
}


/* Apresentação da Label e da imagem do slide show*/

.label_slide_show{
font-size: 150%;
font-weight: bold;
}
  
.img_slide_show{
    height: 500px;
    width: 700px;
  
    border: 10px solid transparent;
    padding: 1px;
    border-image: url('..//Imagens/border.png') 40 stretch;
	}
	

	.img_slide_show_index{
		height: 70%;
		width: 90%;
  
    border: 10px solid transparent;
    padding: 1px;
    border-image: url('..//Imagens/border.png') 40 stretch;
  }