footer {
    background-color: rgb(1, 6, 11);
    width: 100%;
    bottom: 0;
    font-weight: lighter;
    color: white;
}
.footerHeader{
    width:100%;
    padding:1em;
    background-color:rgb(136, 236, 77);
    text-align:center;
    color:white;
}
footer h6{
    font-weight:lighter;
    margin-left: 5%;
}
footer ul{
    padding-left:5px;
    list-style:none;
    display: inline;
    margin-left: 5%;
}
footer p{
    text-align : justify;
    font-size : 12px;
    margin-left: 5%;
}
footer iframe {
    width:100%;
    position:relative;
    height:170px;
}
.sm{
    list-style:none;
    overflow:auto;
}
.sm li {
    display: inline;
    padding:5px;
    float:left;
} 
.sm li a img {
    width:32px;